<%= turbo_stream.update "#{@from}-piece" do %>
  <%= render PieceComponent.new(nil) %>
<% end %>

<%= turbo_stream.update "#{@to}-piece" do %>
  <%= render PieceComponent.new(@piece) %>
<% end %>

<%= turbo_stream.replace 'active-player' do %>
  <div id="active-player" style="background-color: <%= @active_player %>"></div>
<% end %>

<%= render "sound", sound_name: @sound_name %>