<%# RE-RENDER THE FULL BOARD: %>
<%= turbo_stream.replace "board", partial: "home/board", locals: { board: @game.board } %>

<%# HIGHLIGHT LAST MOVE: %>
<% if @second_to_last_move.present? %>
  <%= turbo_stream.remove_css_class "#{@second_to_last_move["from"]}", classes: "highlighted-square" %>
  <%= turbo_stream.remove_css_class "#{@second_to_last_move["to"]}", classes: "highlighted-square" %>
<% end %>
<%= turbo_stream.add_css_class "#{@last_move[:from]}", classes: "highlighted-square" %>
<%= turbo_stream.add_css_class "#{@last_move[:to]}", classes: "highlighted-square" %>

<%# UPDATE ACTIVE PLAYER COMPONENT: %>
<%= turbo_stream.replace 'active-player' do %>
  <div id="active-player" style="background-color: <%= @active_player %>"></div>
<% end %>

<%# PLAY SOUND: %>
<%= render "sound", sound_name: @sound_name %>
