<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <audio id="sound-capture" src="<%= asset_path("capture.mp3") %>"></audio>
    <audio id="sound-castle" src="<%= asset_path("castle.mp3") %>"></audio>
    <audio id="sound-drawoffer" src="<%= asset_path("drawoffer.mp3") %>"></audio>
    <audio id="sound-game-end" src="<%= asset_path("game-end.mp3") %>"></audio>
    <audio id="sound-game-start" src="<%= asset_path("game-start.mp3") %>"></audio>
    <audio id="sound-illegal" src="<%= asset_path("illegal.mp3") %>"></audio>
    <audio id="sound-move-check" src="<%= asset_path("move-check.mp3") %>"></audio>
    <audio id="sound-move-opponent" src="<%= asset_path("move-opponent.mp3") %>"></audio>
    <audio id="sound-move-self" src="<%= asset_path("move-self.mp3") %>"></audio>
    <audio id="sound-notification" src="<%= asset_path("notification.mp3") %>"></audio>
    <audio id="sound-promote" src="<%= asset_path("promote.mp3") %>"></audio>
    <audio id="sound-tenseconds" src="<%= asset_path("tenseconds.mp3") %>"></audio>

    <div id="sound_events"></div>
    <%= yield %>
  </body>
</html>
